{% extends 'scoop/layouts/base.html' %}
{% block content %}

    <h3>
        <p class="contactpage">
        Для нас важно слышать от вас! Если у вас возникли вопросы, 
        предложения или вы хотите получить дополнительную информацию 
        о наших продуктах и услугах, свяжитесь с нами по следующим контактным данным:
        </p>

        <p class="contactpage">
        Телефон: +998 90 575-96-58
        </p>
        <p class="contactpage">
        Электронная почта: texnostore@gmail.com
        </p>

        <p class="contactpage">
        Наши специалисты всегда готовы помочь вам в рабочие часы:
    
        Понедельник - Пятница: 9:00 - 18:00
        Суббота: 10:00 - 15:00
        Воскресенье: Выходной 
        </p>
    
        <p class="contactpage">
        Свяжитесь с нами, и мы с радостью ответим на все ваши запросы. Благодарим вас за выбор TexnoStore!
        </p>
    </h3>

{% endblock content %}