{% extends 'scoop/layouts/base.html' %}
{% block title %}
Main page
{% endblock %}
{% load static %}
{% block content %}
    {% include 'scoop/include/slider.html' %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <h3>
        <p class="centerr">
TexnoStore - ваш надежный интернет-магазин техники и электроники! 
Мы предлагаем широкий ассортимент продукции от ведущих мировых брендов по конкурентным ценам.</p>
        <p class="ortasi">
            Когда дело касается покупок онлайн, главное - это доверие. 
            Мы стремимся обеспечить нашим клиентам лучший опыт покупок, 
            предлагая только качественные товары. 
            TexnoStore тщательно отбирает ассортимент - от новейших смартфонов и планшетов до ноутбуков, 
            гаджетов и аксессуаров для дома и офиса
        </p>

        <p class="ortalawi">
            Одно из наших преимуществ - это широкий выбор товаров, которые позволят вам найти то, что вам нужно. 
            Вы можете быть уверены, что у нас есть именно техника, которую вы хотите приобрести
        </p>
    </h3>
    <footer class="TexnoStore">
        <p>&copy; 2023 TexnoStore . Все права защищены.</p>
    </footer>
{% endblock content %}